<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.rey.material.demo">

    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.AppTheme"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>
